doctype html 

html(lang='de')
    head 
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title MyPizza | Deine Bestellung
        style 
            include ../css/style.css
    body 
        main
            h1 Danke für deine Bestellung
            ul 
                li 
                    span Pizza: 
                    b #{orderProd}
                li 
                    span Adresse: 
                    b #{orderAddress}
            
            a(href="/") Zurück
            a(href="/bestellungen") Zur Bestellübersicht