doctype html 

html(lang='de')
    head 
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title MyPizza | 404
        style 
            include ../css/style.css
    body 
        main
            h1 Leider gibt es keine Seite zu deinem Aufruf